.product-view-container{
    display: flex;
    gap: 100px;
    padding: 20px;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product-image{
    border-radius: 12px;
}